{% extends 'layout/main.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block canvas %}
<div class="row no-gutters">
    {% for p in posts %}
    <div class="col-md-4 p-1">
        <div class="card">
            <div class="card-header text-center">
                <div style="border-radius:3px;background:#09aabb;padding:5px;position:absolute;top:-5px;left:-5px;"> #{{ p.id }}</div>
                {{ p.title }}
            </div>
            <div class="card-body">
                <img src="/upload/img/posts/empty.jpg" width="100%" />
                <p>{{ p.getShortContent }}</p>
                <small>
                    Category: <a href="/categories/{{ p.categoryId }}">{{ categories[p.categoryId] }}</a>
                </small>
            </div>
            <div class="card-footer text-small">
                <a onclick="event.preventDefault();
                        document.getElementById('delete-form-{{ p.id }}').submit();"
                   class="btn btn-sm btn-outline-danger" href="#"  role="button">Del</a>
                <a class="btn btn-sm btn-outline-primary" href="/posts/{{ p.id }}/edit" role="button">Edit</a>
                <a class="btn btn-sm btn-outline-secondary" href="/posts/{{ p.id }}" role="button">Read</a>
                <form action="{{ path('post_delete') }}" method="post" id="delete-form-{{ p.id }}" style="display:none">
                    <input type="number" name="id" value="{{ p.id }}">
                    <input type="submit" value="Del">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% for p in pager %}
                <li class="page-item {{ p['class'] }}"><a class="page-link" href="{{ p['urn'] }}">{{ p['label'] }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
<hr>
{% endblock %}


